@{
    ViewBag.Title = "Home Page";
}

<h2>This website has issues!</h2>

<p>This is supposed to be a standard CRUD application but there are
    a few problems. Make sure all the navigation links work
    and all CRUD functionality performs as expected.</p>